<% include ./partials/header.ejs %>
	    <!-- Page Content -->
    <div class="container content">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4"><%= response.data.title  %></h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-6">
          <img class="img-fluid" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2<%= response.data.poster_path %>" alt="">
        </div>

        <div class="col-md-6">
          <h2><% if(response.data.tagline !==null) { %>
                          <%= response.data.tagline %> 
                            <% } %></h2>
          <h3 class="info">Synopsis:</h3>
          <p><%= response.data.overview %></p>
          <h3 class="info">Details:</h3>
            <li><span class="bold">Genres:</span> <% for (let i = 0; i < response.data.genres.length; i++) { %>
                  <span><%= response.data.genres[i].name %>. </span>
           <% } %> 
            </li>
            <li><span class="bold">Release Date:</span> <%= response.data.release_date %></li>
            <li><span class="bold">Vote Average:</span> <%= response.data.vote_average %></li>
            <li><span class="bold">Homepage:</span> <a target="_blank" href="<%- response.data.homepage %>"><%= response.data.homepage %></a></li>
        </div>

      </div>
      <!-- /.row -->


<% include ./partials/footer.ejs %>
