<% include ./partials/header.ejs %>
	    <!-- Page Content -->
    <div class="container content">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4"><%= response.data.name  %></h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-6">
          <img class="img-fluid" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2<%= response.data.poster_path %>" alt="">
        </div>

        <div class="col-md-6">
          <h3>Synopsis:</h3>
          <p><%= response.data.overview %></p>
          <h3>Details: </h3>
            <li><span class="bold">Genres:</span> <% for (let i = 0; i < response.data.genres.length; i++) { %>
                  <span><%= response.data.genres[i].name %>. </span>
           <% } %> 
            </li>
            <li><span class="bold">Number of Seasons:</span> <%= response.data.number_of_seasons %></li>
            <li><span class="bold">Number of Spisodes:</span> <%= response.data.number_of_episodes %></li>
            <li><span class="bold">First Air Date:</span> <%= response.data.first_air_date %></li>
            <li><span class="bold">Vote Average:</span> <%= response.data.vote_average %></li>
            <li><span class="bold">Homepage:</span> <a target="_blank" href="<%- response.data.homepage %>"><%= response.data.homepage %></a></li>
            <li><button id="queue-btn" type="submit" form="tv-form" value="Add to queue">Add to queue</button></li>
            <div class="added">
            </div>
        </div>
        <form action='/tv-profile?id=<%= response.data.id %>' method="POST" id="tv-form"
        </form>

      </div>
      <!-- /.row -->


<% include ./partials/footer.ejs %>